<div class="container">
  <h1>Search</h1>
  <form id="form-id" (ngSubmit)="getIMDBData(1)" #imdbForm="ngForm" enctype="multipart/form-data">
    <div class="alert alert-warning alert-dismissible" role="alert" *ngIf="message !== ''">
      {{message}}
    </div>
    <div class="form-row">
      <div class="col-md-6">
        <label for="search_txt">Search</label>
        <input type="text" class="form-control" placeholder="Search" [(ngModel)]="imdbData.search_txt" name="search_txt" required/>
      </div>
      <div class="col-md-2">
        <label for="filter_by">Filter By</label>
        <select class="custom-select" [(ngModel)]="imdbData.filter_by" name="filter_by">
          <option value="" selected>Select</option>
          <option value="1">ID</option>
          <option value="2">Title</option>
        </select>
      </div>
      <div class="col-md-2">
        <div class="margin-top-32">
          <button class="btn btn-primary" type="submit" [disabled]="!imdbForm.form.valid">Search</button>
        </div>
      </div>
    </div>
    <br>
    <div class="form-row">
      <div class="col-md-2">
        <label for="year">Year</label>
        <input type="number" class="form-control" placeholder="Year" [(ngModel)]="imdbData.year" name="year"/>
      </div>
      <div class="col-md-2">
        <div class="margin-top-32">
          <button class="btn btn-primary" type="button" (click)="getLocalSearch(2)">Search</button>
        </div>
      </div>
    </div>
  </form>
  <div class="card" *ngIf="resData.status == 'true' && searchType == 1">
    <div class="card-header">
      Detail
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <ul class="list-group">
                <li class="list-group-item"><strong>ID: </strong> {{resData.imdb_id}}</li>
                <li class="list-group-item"><b>Title:</b> {{resData.title}}</li>
                <li class="list-group-item"><b>Year:</b> {{resData.year}}</li>
                <li class="list-group-item"><b>Release Date:</b> {{resData.released}}</li>
                <li class="list-group-item"><b>RunTime:</b> {{resData.runtime}}</li>
                <li class="list-group-item"><b>Genre:</b> {{resData.genre}}</li>
                <li class="list-group-item"><b>Director:</b> {{resData.director}}</li>
                <li class="list-group-item"><b>Writers:</b> {{resData.writers}}</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <ul class="list-group">
                <li class="list-group-item"><b>Actors:</b> {{resData.actors}}</li>
                <li class="list-group-item"><b>Country:</b> {{resData.country}}</li>
                <li class="list-group-item"><b>Language:</b> {{resData.language}}</li>
                <li class="list-group-item"><b>Rating:</b> {{resData.rating}}</li>
                <li class="list-group-item"><b>Votes:</b> {{resData.votes}}</li>
                <li class="list-group-item"><b>Production:</b> {{resData.production}}</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
